.center {
  position: absolute;
  height: 160px;
  width: 160px;
  background-image: url("../../../../assets/img/site-bg.jpg");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-radius: 108px;
  border: 2px solid;
}

.center .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
